.col-comment {
    /*width:50% ;*/
    text-align: left;
    padding-right: 0 !important;
    max-width: 500px;
    min-width: 300px;
}
.col-time{
    /*width:50%;*/
    text-align: center;
    padding-right: 0 !important;
    vertical-align: top !important;
    white-space: nowrap;
}
.table-checkbox{
    min-width:20px !important;
}
.table-image{
    min-width:50px !important;
    text-align: center;
    padding-right: 0;
}
.table-cell{
    text-align: center;
    padding-right: 0;
}

.table-product-name{
    min-width:250px !important;
    text-align: center;
    padding-right: 0
}
.table-price{
    min-width:80px !important;
    text-align: center;
    padding-right: 0;
}
.table-asking-price-number{
    min-width:100px !important;
    text-align: center;
    padding-right: 0;
}
.table-comment{
    min-width:200px !important;
    text-align: center;
    padding-right: 0;
}
.table-remarks{
    text-align: center;
    width:70px !important;
    padding-right: 0px;
}
.table-no-row{
    text-align:center;
    vertical-align:middle;
    padding-top:20px;
}